
@{
    ViewBag.Title = "LoginPage";
}

<h2>Welcome To Login</h2>

<form action="/Login/AuthenticateLogin" method="post">
    User Name: <input type="text" name="userName" /> <br />
    Password: <input type="text" name="pwd" /> <br />
    <input type="submit" name="submit" value="Login"/>
</form>

